body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #333 !important;
}

.navbar-item:hover {
  color: #424242 !important;
}

.navbar-active {
  display: block;
  position: absolute;
  right: 0;
  top: 110;
}
